<!DOCTYPE html>
<html>
<head>
  <title>Receibo</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<h1>Receibo</h1>

<%= @now.strftime("%m").to_s + "月" %>：<%= @this_month_sum %><br />
<br />

<%#= form_for(@item) do |f| %>
<% form_for @item, :url => { :action => "create" } do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%#= link_to 'Back', :action => add %>
<br />
<%= @now.strftime("%m/%d").to_s + "(#{@wdays[@now.wday]})" %>：<%= @today_sum %><br />
<br />

<% @items.each do |item| %>
  <%= item.name %>：<%= item.price %><br />
<% end %>

</body>
</html>
