<!DOCTYPE HTML>
<html lang="JP">
<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" >	<!-- iPhone用 -->
	<meta name="format-detection" content="telephone=no" />
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- Webクリップから開いた場合にブックマーク追加などのツールバーを非表示にする -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"><!-- Webクリップから開いた場合にバッテリーのステータスバーを半透明にできる。black/black-translucent/default -->
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png" /><!-- Webクリップしたときのアイコン -->
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<!--<script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>-->
	<title>Receibo</title>
</head>
<body>
	<header class="header clearfix">
		<h1 class="logo"><a href="/"><img src="/images/logo.png" alt="Receibo-レシーボ" width="140" height="35"></a></h1>
		<p class="header-btn"><a href="/items/month"><span class="num"><%= @now.strftime("%m") %></span>月&nbsp;<span class="price">￥<span class="num"><%= number_with_delimiter(@this_month_sum, :delimiter => ",") %></span></a></p>
	</header>
  
	<article>
		<div class="form-wrapper">
      <%# 追加フォーム %>
      <!--<form>-->
      <form accept-charset="UTF-8" action="/items/create?from=add" class="new_item" id="new_item" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" />
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        </div>
        
        <%# 項目名 %>
				<input type="text" name="item[name]" id="buy" value="" placeholder="いま、何買った？" class="form-textarea form-name">
        
        <%# 金額 %>
				<div class="price-line clear-fix">
					<p class="yen">￥</p>
					<input type="number" name="item[price]" id="price" value="" placeholder="00,000" class="form-textarea form-price">
					<input type="submit" name="commit" value="+" class="form-submit-add">
				</div>
			</form>
		</div>
    
		<div class="receipt">
			<div class="receipt-hdr">
				<div class="receipt-hdr-right"></div>
			</div>
				<ul>
					<li class="total">
						<p class="name"><span class="num"><%= @now.strftime("%m/%d") %></span>（<%= Item::WDAYS[@now.wday] %>）</p>
						<p class="price">￥<span class="num"><%= number_with_delimiter(@today_sum, :delimiter => ",") %></span></p>
					</li>
          
          <% @items.each do |item| %>
            <li class="item">
            	<a href="#">
              	<P class="name"><%= item.name %></P>
              	<p class="price">￥<span class="num"><%= number_with_delimiter(item.price, :delimiter => ",") %></span></p>
              </a>
            </li>
          <% end %>
				</ul>
			<div class="receipt-inner">
				<p class="caution">このサービスは正式リリース前のテスト公開です。もしお使いいただいて何かバグがあれば、<a href="http://twitter.com/shu_0115">@shu_0115</a>または<a href="http://twitter.com/ken_c_lo">@ken_c_lo</a>までお知らせ下さい。なお、正式リリース前に一度データを全てリセットしますのでご了承下さい。</p>
			</div>
		</div>
	</article>
  
	<footer class="footer">
		<p class="copyright"><small>Developed by <a href="http://twitter.com/shu_0115/" target="_blank">@shu_0115</a>, Designed by <a href="http://twitter.com/ken_c_lo/" target="_blank">@ken_c_lo</a><br />in <a href="https://github.com/prog4designer/hackathon1st/wiki" target="_blank">#p4dhack</a></small></p>
	</footer>
</body>
</html>