
	<header class="header clearfix">
		<h1 class="logo"><a onClick="link('/');"><img src="/images/logo.png" alt="Receibo-レシーボ" width="140" height="35"></a></h1>
		<p class="header-btn"><a onClick="link('/items/month?date=<%= CGI.escape(@this_day.strftime("%Y-%m-%d").to_s) %>');"><span class="num"><%= @this_day.strftime("%m") %></span>月&nbsp;<span class="price">￥<span class="num"><%= number_with_delimiter(@this_month_sum, :delimiter => ",") %></span></a></p>
	</header>

	<article>
		<div class="form-wrapper">
      <%# 追加フォーム %>
      <!--<form>-->
      <form accept-charset="UTF-8" action="/items/create?from=day&date=<%= CGI.escape(@this_day.strftime("%Y-%m-%d").to_s) %>" class="new_item" id="new_item" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" />
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        </div>

        <%# 項目名 %>
				<input type="text" name="item[name]" id="buy" value="<%= params[:keep_item][:name] unless params[:keep_item].blank? %>" placeholder="その日、何買った？" class="form-textarea form-name">

        <%# 金額 %>
				<div class="price-line clear-fix">
					<p class="yen">￥</p>
					<input type="number" name="item[price]" id="price" value="<%= params[:keep_item][:price] unless params[:keep_item].blank? %>" placeholder="00,000" class="form-textarea form-price">
					<input type="submit" name="commit" value="+" class="form-submit-add">
				</div>
			</form>
		</div>

		<div class="receipt">
			<div class="receipt-hdr">
				<div class="receipt-hdr-right"></div>
			</div>

			<!-- エラーメッセージ -->
      <% unless flash[:notice].blank? %>
			<div class="receipt-inner">
				<p class="error">
          <%=raw flash[:notice] %>
					<!-- 金額が入力されていません。 -->
					<!-- 商品名が入力されていません -->
				</p>
			</div>
      <% end %>
			<!-- //エラーメッセージ -->

				<ul>
					<li class="total">
						<p class="name"><span class="num"><%= @this_day.strftime("%m/%d") %></span>（<%= Item::WDAYS[@this_day.wday] %>）</p>
						<p class="price">￥<span class="num"><%= number_with_delimiter(@today_sum, :delimiter => ",") %></span></p>
					</li>

          <% @items.each do |item| %>
            <li class="item">
            	<a onClick="link('/items/edit/<%= item.id %>?from=day');">
              	<P class="name"><%= item.name %></P>
              	<p class="price">￥<span class="num"><%= number_with_delimiter(item.price, :delimiter => ",") %></span></p>
              </a>
            </li>
          <% end %>

				</ul>
		</div>
	</article>
