
	<header class="header clearfix">
		<h1 class="logo"><a onClick="link('/');"><img src="/images/logo.png" alt="Receibo-レシーボ" width="140" height="35"></a></h1>
		<p class="header-btn"><a onClick="link('/items/day?date=<%= CGI.escape(@this_day.strftime("%Y-%m-%d").to_s) %>');"><span class="num"><%= @this_day.strftime("%m/%d") %></span>（<%= Item::WDAYS[@this_day.wday] %>）&nbsp;<span class="price">￥<span class="num"><%= number_with_delimiter(@today_sum, :delimiter => ",") %></span></a></p>
	</header>

	<article>
		<div class="form-wrapper">
      <%# 修正フォーム %>
			<form action="/items/update/<%= @item.id %>">
        <%= hidden_field_tag :from, params[:from] %>
				<!-- input valueに入力要素を追加 -->
				<input type="text" name="item[name]" id="buy" value="<%= @item.name %>" placeholder="今、何買った？" class="form-textarea form-name">
				<div class="price-line clear-fix">
					<p class="yen">￥</p>
					<input type="number" name="item[price]" id="price" value="<%= @item.price %>" placeholder="00,000" class="form-textarea form-price" src="580">
					<!-- input valueに"なおす"  classに"edit"を追加 -->
					<input type="submit" name="commit" value="なおす"class="form-submit-add edit">
				</div>
			</form>
		</div>

		<div class="receipt">
			<div class="receipt-hdr">
				<div class="receipt-hdr-right"></div>
			</div>

			<!-- エラーメッセージ -->
      <% unless flash[:notice].blank? %>
			<div class="receipt-inner">
				<p class="error">
          <%=raw flash[:notice] %>
					<!-- 金額が入力されていません。 -->
					<!-- 商品名が入力されていません -->
				</p>
			</div>
      <% end %>
			<!-- //エラーメッセージ -->

      <%# 更新完了時の値変更確認のため、名前と金額を表示したい 2011/12/07 %>
      <ul>
        <li>
          <p class="name"><%= @item.name %></p>
          <p class="price">￥<span class="num"><%= number_with_delimiter(@item.price, :delimiter => ",") %></span></p>
        </li>
      </ul>

			<!-- 削除ボタン（この部分をadd.htmlのulとまるっと差し替え） -->
			<div class="receipt-inner pdgtop10">
				<p class="btn-cmn">
          <a onClick="link('/items/delete/<%= @item.id %>?from=<%= params[:from] %>');" data-confirm="本当に削除してよろしいですか？">この買い物を削除する</a>
        </p>
			</div>
			<!-- //差し替え部分END -->
		</div>
	</article>
