<!DOCTYPE HTML>
<html lang="JP">
<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" >	<!-- iPhone用 -->
	<meta name="format-detection" content="telephone=no" />
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- Webクリップから開いた場合にブックマーク追加などのツールバーを非表示にする -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"><!-- Webクリップから開いた場合にバッテリーのステータスバーを半透明にできる。black/black-translucent/default -->
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png" /><!-- Webクリップしたときのアイコン -->
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<!--<script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>-->
	<title>Receibo</title>
</head>
<body>
	<header class="header clearfix">
		<h1 class="logo"><a href="/"><img src="/images/logo.png" alt="Receibo-レシーボ" width="140" height="35"></a></h1>
		<p class="header-btn"><a href="/items/year"><span class="num"><%= @this_month.strftime("%Y") %></span>年&nbsp;<span class="price">￥<span class="num"><%= number_with_delimiter(@this_year_sum, :delimiter => ",") %></span></a></p>
	</header>
	<article>
		<div class="receipt">
			<div class="receipt-hdr">
				<div class="receipt-hdr-right"></div>
			</div>
				<ul>
					<li class="total">
						<p class="name"><span class="num"><%= @this_month.strftime("%Y") %></span>年<span class="num"><%= @this_month.strftime("%m") %></span>月</p>
						<p class="price">￥<span class="num"><%= number_with_delimiter(@this_month_sum, :delimiter => ",") %></span></p>
					</li>

          <% 1.upto(@this_month.end_of_month.day){ |day| %>
            <li class="item">
            	<a href="/items/day?date=<%= CGI.escape(@this_month.strftime("%Y-%m-").to_s + day.to_s) %>">
	              <P class="name"><span class="num"><%= @this_month.strftime("%m") %>/<%= sprintf("%02d", day) %></span>（<%= Item::WDAYS[Time.local(@this_month.year, @this_month.month, day, 0, 0, 0).wday] %>）</P>
	              <p class="price">￥<span class="num"><%= number_with_delimiter(@day_sum_array[day], :delimiter => ",") %></span></p>
            	</a>
            </li>
          <% } %>
				</ul>
		</div>
	</article>
	<footer class="footer">
		<p class="copyright"><small>Developed by <a href="http://twitter.com/shu_0115/" target="_blank">@shu_0115</a>, Designed by <a href="http://twitter.com/ken_c_lo/" target="_blank">@ken_c_lo</a><br />in <a href="https://github.com/prog4designer/hackathon1st/wiki" target="_blank">#p4dhack</a></small></p>
	</footer>
</body>
</html>