<!DOCTYPE HTML>
<html lang="JP">
<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" >	<!-- iPhone用 -->
	<meta name="format-detection" content="telephone=no" />
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- Webクリップから開いた場合にブックマーク追加などのツールバーを非表示にする -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"><!-- Webクリップから開いた場合にバッテリーのステータスバーを半透明にできる。black/black-translucent/default -->
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png" /><!-- Webクリップしたときのアイコン -->
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<!--<script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>-->
	<title>Receibo</title>
</head>
<body>
	<header class="header clearfix">
		<h1 class="logo"><a href="/"><img src="/images/logo.png" alt="Receibo-レシーボ" width="140" height="35"></a></h1>
		<!-- 
		<p class="header-btn"><a href="#"><span class="num">2011</span>年<span class="price">￥<span class="num">2,586,327</span></a></p>
		 -->
	</header>
	<article>

    <% @sum_hash.sort{ |a, b| a[0] <=> b[0] }.each{ |sum| %>
		<div class="receipt month">
			<div class="receipt-hdr">
				<div class="receipt-hdr-right"></div>
			</div>
      
			<ul>
				<li class="total">
					<p class="name"><span class="num"><%= sum[0] %></span>年</p>
					<p class="price">￥<span class="num"><%= number_with_delimiter(sum[1][:sum], :delimiter => ",") %></span></p>
				</li>
          
        <% 1.upto(12){ |month| %>
          <% unless sum[1][month].blank? %>
          <li class="item">
            <% this_month = "#{sum[0]}-#{month}-01" %>
  					<a href="/items/month?date=<%= CGI.escape(this_month) %>">
              <P class="name"><span class="num"><%= month %></span>月</P>
              <p class="price">￥<span class="num"><%= number_with_delimiter(sum[1][month], :delimiter => ",") %></span></p>
            </a>
          </li>
          <% end %>
        <% } %>
			</ul>
		</div>
    <% } %>

	</article>
	<footer class="footer">
		<p class="copyright"><small>Developed by <a href="http://twitter.com/shu_0115/" target="_blank">@shu_0115</a>, Designed by <a href="http://twitter.com/ken_c_lo/" target="_blank">@ken_c_lo</a><br />in <a href="https://github.com/prog4designer/hackathon1st/wiki" target="_blank">#p4dhack</a>, <a href="http://creativecommons.org/licenses/by-sa/2.1/jp/" target="_blank">CC BY-SA 2.1</a></small>
		</p>
	</footer>
</body>
</html>