
  <header class="header clearfix">
		<h1 class="logo"><a onClick="link('/');"><img src="/images/logo.png" alt="Receibo-レシーボ" width="140" height="35"></a></h1>    
	</header>

	<article>
    <% @sum_hash.sort{ |a, b| a[0] <=> b[0] }.each{ |sum| %>
		<div class="receipt month">
			<div class="receipt-hdr">
				<div class="receipt-hdr-right"></div>
			</div>

			<ul>
				<li class="total">
					<p class="name"><span class="num"><%= sum[0] %></span>年</p>
					<p class="price">￥<span class="num"><%= number_with_delimiter(sum[1][:sum], :delimiter => ",") %></span></p>
				</li>

        <% 1.upto(12){ |month| %>
          <% unless sum[1][month].blank? %>
          <li class="item">
            <% this_month = "#{sum[0]}-#{month}-01" %>
  					<a onClick="link('/items/month?date=<%= CGI.escape(this_month) %>');">
              <P class="name"><span class="num"><%= month %></span>月</P>
              <p class="price">￥<span class="num"><%= number_with_delimiter(sum[1][month], :delimiter => ",") %></span></p>
            </a>
          </li>
          <% end %>
        <% } %>
			</ul>
		</div>
    <% } %>
	</article>
